@charset "UTF-8";

font-default : Georgia
font-emphasis : the-battle-continuez.regular.ttf
font-optional : rockstar-extrabold.otf

@font-face {
    font-family: 'Rockstar';
    src: url('../fonts/Rockstar-ExtraBold.otf') format('opentype');
}

/*root{
    --font-default : Georgia, serif;
    --font-emphasis : 'TheBattleContinuez';
    --font-optional : 'Rockstar' sans-serif;
}*/

body {
    font-family: 'Rockstar', Helvetica, sans-serif;
    
}