@charset "UTF-8";

@font-face {
    font-family: 'Rockstar';
    src: url('../fonts/Rockstar-ExtraBold.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'TheBattleContinuez';
    src: url('../fonts/the-battle-continuez-regular.ttf') format('truetype');
    font-weight: normal;
}

:root{ /*CSS VARIABLES*/
    --font-default : Arial, Helvetica, sans-serif;
    --font-emphasis :  'TheBattleContinuez', Impact, serif;
    --font-optional : 'Rockstar', arial, sans-serif;

    --color-1 : #625344;
    --color-2 : #7e44355e;
    --color-3 : #530D0E;
}

*{
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: var(--color-1);
}

body a:hover {
    color: var(--color-1);
}

body a:active {
    color: var(--color-1);
}

.container {
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10%;
}

#first-img {
    background-color: var(--color-2);
    background-image: url("../images/pexels-vishnu-r-nair-medium.jpg");
}

#first-img p{
    background-color: var(--color-2);
    margin-left: -10px;
    padding: 10px;
}

#second-img {
    background-color: var(--color-2);
    background-image: url("../images/pexels-arthouse-studio-medium.jpg");
}

#second-img p {
    background-color: var(--color-2);
    margin-left: -10px;
    padding: 10px;
}

header {
    background-color: var(--color-3);
    padding: 40px;
}

header h1 {
    font-family: var(--font-emphasis);
    font-size: 4em;
    padding: auto;
    text-align: center;
}

header p {
    font-family: var(--font-optional);
    font-size: 0.7em;
    
}

header p a {
    font-size: 1.25em;
}

main {
    font-family: var(--font-default);
    font-size: 0.7em;
    font-weight: 600;
    padding: 20px;
}

main article p {
    line-height: 1.5em;
    text-align: justify;
    max-width: 350px;
}

footer {
    padding: 10px;
    background-color: var(--color-3);
    font-family: var(--font-optional);
    font-size: 0.8em;
    text-align: center;
}
