@charset "UTF-8";

@font-face {
    font-family: 'Rockstar';
    src: url('../fonts/Rockstar-ExtraBold.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'TheBattleContinuez';
    src: url('../fonts/the-battle-continuez-regular.ttf') format('truetype');
    font-weight: normal;
}

:root{ /*CSS VARIABLES*/
    --font-default : Arial, Helvetica, sans-serif;
    --font-emphasis : 'TheBattleContinuez', Impact, serif;
    --font-optional : 'Rockstar', arial, sans-serif;

    --color-1 : #625344;
    --color-2 : #7e44355e;
    --color-3 : #530D0E;
}

*{
    color: white;
    font-size: 1em;
    margin: 0px;
    padding: 0px;   
}

html, body {
    background-color: gray;
    min-width: 100%;
}

header a, footer a {
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: var(--color-1);
    text-decoration: underline;
}

header a:active, header a:active {
    color: var(--color-1);
}

header {
    background-color: var(--color-3);
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--font-emphasis);
    font-size: 10vw;
}

header > p {
    font-family: var(--font-optional);
    font-size: 0.7em;
    padding-bottom: 40px;
}

header > p > a {
    font-size: 1.25em;
}

main {
    font-family: var(--font-default);
    font-size: 0.7em;
    font-weight: 600;
}

aside {
    background-color: black
}

aside > iframe{
    display: block;
    margin: auto;
    max-width: 96.2vw;
}

section {
    height: 50vh;
    line-height: 1.5em;
    padding-bottom: 10vh;
    padding-left: 10px;
    padding-top: 10vh;
}

section > p {
    padding-bottom: 10px;
}

section.normal {
    background-color: var(--color-1);
}

section.image {
    background-attachment: fixed;
    background-color: var(--color-3);
    background-position: center center;
    box-shadow: inset 0px 0px 17px -5px black;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.418);
    text-shadow: 1px 1px 2px black;
    display: inline-block;
    padding: 0px 5px 0px 5px;

}

section#img01 {
    background-image: url("../images/pexels-vishnu-r-nair-medium.jpg");
}

section#img02 {
    background-image: url("../images/pexels-arthouse-studio-medium.jpg");
}

footer {
    padding: 10px;
    background-color: var(--color-3);
    font-family: var(--font-optional);
    font-size: 0.7em;
    text-align: center;
}