@charset "UTF-8";

@font-face {
    font-family: 'Rockstar';
    src: url('../fonts/Rockstar-ExtraBold.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'TheBattleContinuez';
    src: url('../fonts/the-battle-continuez-regular.ttf') format('truetype');
    font-weight: normal;
}

:root{ /*CSS VARIABLES*/
    --font-default : Arial, Helvetica, sans-serif;
    --font-emphasis :  'TheBattleContinuez', Impact, serif;
    --font-optional : 'Rockstar', arial, sans-serif;

    --color-1 : #625344;
    --color-2 : #7e44355e;
    --color-3 : #530D0E;
}

*{
    margin: 0px;
    padding: 0px;
    color: white;
}

html, body {
    background-color: gray;
    min-width: 100%;
}

header a, footer a {
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: var(--color-1);
    text-decoration: underline;
}

header a:active, header a:active {
    color: var(--color-1);
}

header {
    background-color: var(--color-3);
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--font-emphasis);
    font-size: 4em;
}

header > p {
    font-family: var(--font-optional);
    font-size: 0.7em;
    padding-bottom: 40px;
}

header > p > a {
    font-size: 1.25em;
}

main {
    font-family: var(--font-default);
    font-size: 0.7em;
    font-weight: 600;
}

section {
    line-height: 1.5em;
    padding-bottom: 10vh;
    padding-left: 10px;
    padding-top: 10vh;
}

section.normal {
    background-color: var(--color-1);
}

section.image {
    background-color: var(--color-3);
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.418);
    max-width: 400px;
}

footer {
    padding: 10px;
    background-color: var(--color-3);
    font-family: var(--font-optional);
    font-size: 0.8em;
    text-align: center;
}